---
let title = "SF Chess Club";
let pageDescription = "The San Francisco Chess Club";

import WhatsAppButton from '../components/whats-app-button.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- Meta Tags -->
        <meta name="description" content={pageDescription}>
        <meta name="keywords" content="SF Chess Club, San Francisco, Chess">
        <meta property="og:url" content="https://sfchess.club">
        <meta property="og:type" content="website">
        <meta property="og:title" content={title}>
        <meta property="og:description" content={pageDescription}>
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content={title}>
        <meta name="twitter:description" content={pageDescription}>
        <!-- <meta name="twitter:image" content="https://sfchess.club/logo.png"> -->

		<title>SF Chess Club</title>
	</head>
	<body>
		<h1>San Francisco Chess Club</h1>

		<div class="content-container">
			<p>
				Come play some chess, make friends, and learn new moves!
			</p>
			<p>
				All skill levels are welcome.
			</p>
			<p>
				Monday's from 7:30-10:00 PM at 
				<a href="https://maps.app.goo.gl/Pjt8ty5oMTLkcVgo9" target="_blank" rel="noopener">Willkommen Bar</a>
			</p>

			<p>
				Currently developing our pieces... 
				(and the <a href="https://github.com/ChaseC99/sf-chess-club" target="_blank" rel="noopener">website</a>)
			</p>
		</div>

		<WhatsAppButton />
	</body>
</html>

<style>
	html {
		/* 
		CHECKERBOARD BACKGROUND
		To change the colors of the board, update the hex codes.
		To change the size of the squares, update the values after the slash.
		*/
		background: repeating-conic-gradient(#875337 0 25%, #f4deba 0 50%) 50% / 20vh 20vh;
		
		/* Make the cursor a pawn */
		cursor: url('/icons/chess-pawn-icon.svg'), auto;
	}

	body {
		margin: 0;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 2.5rem;
	}

	h1 {
		text-align: center;
		text-wrap: pretty;
		margin: 10vh 1rem 2.5rem 1rem;
		width: fit-content;
		background: #e0c08d;
		padding: 1rem 2.5rem;
		border-radius: 1.5rem;
		box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08);
		font-style: italic;
		border: 2px solid #fffbe9;
	}

	.content-container {
		background: #fffbe9;
		margin: 0 1rem;
		padding: 1rem 2.5rem;
		border-radius: 1.5rem;
		box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08);
		border: 2px solid #e0c08d;
	}
</style>